<h1>Welcome, <%= admin.adminname %> </h1>
<table>
    <tr>
        <td><b>Email:</b></td>
        <td><%= admin.adminemail %></td>
    </tr>
</table>
<a href="/admin/users">Show All users</a> &ensp;
<a href="/admin/courses">Show All courses</a> &ensp;
<a href="/admin/enrolled-users">Show All enrolled users</a> &ensp;