<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login User</title>
    <style>
        .login {
            width: 400px;
            background-color: aquamarine;
            margin: 190px auto;
            box-shadow: 0px 0px 15px 10px #00ff8ce3;
        }

        .login h1 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .login input {
            width: 300px;
            height: 30px;
            font-size: 20px;
            margin: 10px 45px;
            text-align: center;
        }

        .login input[type='submit'] {
            width: 306px;
            height: 35px;
            font-size: 20px;
            margin: 10px 45px;
            cursor: pointer;
        }
    </style>
    <%-include('../layouts/allCSS') %>
</head>

<body>
    <%- include('../layouts/header.ejs') %>
        <div class="login">
            <h1>Admin Login</h1>

            <% if(typeof message !== 'undefined'){ %>
                <h3><%= message %></h3>
            <% } %>
            
            <form action="" method="post">
                <input type="email" name="email" required placeholder="Enter your email">
                <input type="password" required name="password" placeholder="Enter your password">
                <input type="submit" value="Login">
            </form>
             <a href="/admin/forget">Forget Password</a>
        </div>
        <%- include('../layouts/footer.ejs') %>
</body>

</html>