<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Management System</title>
    <%-include('../layouts/allCSS.ejs')  %>
</head>
<body>
    <%- include('../layouts/header.ejs') %>
        <div class="register">
            <h1>Add new User</h1>
            <form action="/admin/new-user" method="post" enctype="multipart/form-data"><!--enctype for images etc.-->
                <input type="text" name="name" placeholder="Enter Name" required />
                <br /><br />
                <input type="email" name="email" placeholder="Enter Email" required />
                <br /><br />
                <input type="text" name="mobile" placeholder="Enter Mobile" required />
                <br /><br />
                <input type="file" name="image" required />
                <br /><br />
                <input type="submit" value="Add User" />
            </form>
        </div>

        <% if (typeof message !== 'undefined') { %>
            <script>
                alert('<%= message %>');
            </script>
        <% } %>
<!-- to go back  -->
        <a href="/admin/dashboard">Go Back</a>
        <%- include('../layouts/footer.ejs') %>
</body>
</html>